@charset "UTF-8";
/*

@Author: Themezinho
@URL: http://www.themezinho.net
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


	// Table of contents //

		01. FONTS
		02. BODY
		03. CUSTOM CONTAINER
		04. HTML TAGS
		05. HEADLINES
		06. FORM ELEMENTS
		07. LINKS
		08. SPACING
		09. CUSTOM CLASSES
		10. ACCORDION
		11. ODOMETER
		12. HAMBURGER MENU
		13. PRELOADER
		14. PAGE TRANSITION 
		15. SEARCH BOX
		16. SIDE WIDGET
		17. NAVBAR
		18. SLIDER
		19. PAGE HEADER
		20. CONTENT SECTION
		21. SECTION TITLE
		22. ICON BOX
		23. IMAGE CONTENT BOX
		24. CTA BAR
		25. VIDEO PREVIEW
		26. COUNTER BOX
		27. PRICE BOX
		28. CASES
		29. TESTIMONIALS
		30. LOGO ITEM
		31. SIDE CONTENT
		32. TEAM MEMBER
		33. OFFICE SLIDER
		34. CTA BOX SMALL
		35. CASE GALLERY
		36. STEPS SLIDER
		37. TAB WRAPPER
		38. RECENT NEWS
		39. BLOG POST
		40. PAGINATION
		41. SIDEBAR
		42. CONTACT FORM
		43. CONTACT BOX
		44. GOOGLE MAPS
		45. FOOTER
		46. RESPONSIVE MEDIUM FIXES
		47. RESPONSIVE TABLET FIXES
		48. RESPONSIVE MOBILE FIXES

	

*/
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@font-face {
  font-family: 'Mohave';
  src: url("../fonts/Mohave-Bold.eot");
  src: url("../fonts/Mohave-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mohave-Bold.woff2") format("woff2"), url("../fonts/Mohave-Bold.woff") format("woff"), url("../fonts/Mohave-Bold.ttf") format("truetype"), url("../fonts/Mohave-Bold.svg#Mohave-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Mohave';
  src: url("../fonts/Mohave-Regular.eot");
  src: url("../fonts/Mohave-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mohave-Regular.woff2") format("woff2"), url("../fonts/Mohave-Regular.woff") format("woff"), url("../fonts/Mohave-Regular.ttf") format("truetype"), url("../fonts/Mohave-Regular.svg#Mohave-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mohave';
  src: url("../fonts/Mohave-Medium.eot");
  src: url("../fonts/Mohave-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Mohave-Medium.woff2") format("woff2"), url("../fonts/Mohave-Medium.woff") format("woff"), url("../fonts/Mohave-Medium.ttf") format("truetype"), url("../fonts/Mohave-Medium.svg#Mohave-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mohave";
  font-size: 18px;
  overflow-x: hidden;
  color: #0d0d0d;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* LINKS */
a {
  color: #0d0d0d;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #0d0d0d;
}

/* HTML TAGS */
img {
  max-width: 100%;
}

p {
  font-family: 'Barlow', sans-serif;
}
.form-control2 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0px 29px 0px 21px !important;
  font-size: 1rem;
  font-weight: 400;
  /* height: 6% !important; */
  /* line-height: 41.5px; */
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* FORM ELEMENTS */
input[type="text"] {
  /* width: 420px; */
  /* max-width: 100%; */
  height: 50px;
  padding: 0 30px;
  border: 1px solid #cecece;
}

input[type="email"] {
  /* width: 420px; */
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 1px solid #cecece;
}

input[type="search"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 1px solid #cecece;
}
.pt-20{
  padding-top: 20px;
}

input[type="password"] {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 1px solid #cecece;
}
.custom-button1 {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border: 1px solid black;
  background: transparent;
  color: black;
  padding: 0 30px;
  position: relative;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
  transform: translateY(3px);
  appearance: none;
  background: #ededed;
  border-radius: 50%;
}

input[type="radio"]:checked {
  border: 6px solid #0d0d0d;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
  transform: translateY(3px);
  appearance: none;
  background: #ededed;
}

input[type="checkbox"]:checked {
  border: 6px solid #0d0d0d;
}
.pb-20{
  padding-bottom: 20px;
}

textarea {
  width: 520px;
  max-width: 100%;
  height: 140px;
  padding: 30px;
  border: 1px solid #cecece;
  background-color: black !important;
}
.textarea1 {
  width: 100%;
  max-width: 100%;
  height: 140px;
  padding: 30px;
  border: 1px solid #cecece;
  background-color: white !important;
}

select {
  width: 420px;
  max-width: 100%;
  height: 70px;
  padding: 0 30px;
  border: 1px solid #cecece;
}

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 30px) 34px, calc(100% - 25px) 34px, calc(100% - 3.5em) 20px;
  background-size: 5px 5px, 5px 5px, 1px 40px;
  background-repeat: no-repeat;
} */

select:focus {
  background-image: linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 25px) 34px, calc(100% - 30px) 34px, calc(100% - 3.5em) 20px;
  background-size: 5px 5px, 5px 5px, 1px 40px;
  background-repeat: no-repeat;
  border-color: gray;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input[type="submit"] {
  height: 70px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #0d0d0d;
  border: none;
  padding: 0 50px;
}

button[type="submit"] {
  height: 70px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #0d0d0d;
  border: none;
  padding: 0 50px;
}
button[type="submit"] i {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  transform: translateY(2px);
}

/* CUSTOM CONTAINER */
@media (min-width: 1170px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}
/* CUSTOM CLASSES */
.overflow {
  overflow: hidden;
}

.no-gutters {
  padding: 0;
  margin: 0;
}

/* SPACING */
.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.no-top-spacing {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.no-bottom-spacing {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.navbar .navbar-button1 a {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  /* background: #f42828; */
  color: #fff;
  padding: 0 20px;
  position: relative;
}

/* HAMBURGER MENU */
.hamburger-menu {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 0px;
  width: 100%;
}

.hamburger-menu span:nth-child(2) {
  top: 9px;
  width: 22px;
}

.hamburger-menu span:nth-child(3) {
  top: 18px;
  width: 100%;
}

.hamburger-menu:hover span {
  width: 100% !important;
}

.hamburger-menu.open span {
  width: 20px !important;
}

.hamburger-menu.open span:nth-child(1) {
  top: 9px;
  right: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 28px !important;
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

.hamburger-menu.open span:nth-child(3) {
  top: 9px;
  right: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 28px !important;
}

/* ODOMETER */
.odometer.odometer-auto-theme {
  padding: 0;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  padding: 0;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  left: -4px;
}

/* SWIPER PAGINATION */
.swiper-pagination {
  width: 100%;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 3vw;
  height: 4px;
  background: #000;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0.5;
  border-radius: 0;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 6vw;
  background: #f42828;
  opacity: 1;
}

/* CUSTOM BUTTON */
.col-12.text-center .custom-button {
  margin-top: 50px;
}
.text-end{
  text-align: end;
}

.custom-button {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  border: 1px solid white;
  background: transparent;
  color: #fff;
  padding: 0 30px;
  position: relative;
}
.custom-button:before {
  content: "";
  width: 0;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.custom-button:hover {
  text-decoration: none;
  color: #fff;
}
.custom-button:hover:before {
  width: 100%;
}

/* REVEAL EFFECT */
.wow.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 0.2s;
}

.wow.fade.animated {
  opacity: 1;
}

.reveal-effect {
  float: left;
  position: relative;
}
.reveal-effect.animated:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #eee;
  position: absolute;
  left: 0;
  top: 0;
  animation: 1s reveal linear forwards;
  -webkit-animation-duration: 1s;
  z-index: 1;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.reveal-effect.animated > * {
  animation: 1s reveal-inner linear forwards;
}

@-webkit-keyframes reveal {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: auto;
    right: 0;
  }
  100% {
    left: auto;
    right: 0;
    width: 0;
  }
}
@-webkit-keyframes reveal-inner {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  51% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* PRELOADER */
.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  right: 0;
  top: 0;
  background: #f42828;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.preloader figure {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: fadeup 0.30s;
  position: relative;
}
.preloader figure:after {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-top: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotate1 0.60s infinite;
}
.preloader img {
  height: 50px;
  display: inline-block;
}

.form-control1 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 15px 29px 15px 21px !important;
  font-size: 1rem;
  font-weight: 400;
  height: 8% !important;
  /* line-height: 41.5px; */
  color: #495057;
  background-color: black;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-loaded .preloader {
  top: -100%;
}

@keyframes fadeup {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* PAGE TRANSITION */
.page-transition {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  background: #f42828;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.page-transition.active {
  height: 100%;
}

/* SIDE WIDGET */
.side-widget {
  width: 300px;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 0;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  background: #525659;
  z-index: 6;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  color: #fff;
}
.side-widget .inner {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  height: 100%;
}
.side-widget .logo {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.side-widget .logo img {
  height: 49px;
}
.side-widget .show-mobile {
  display: none;
}
.side-widget .hide-mobile {
  width: 100%;
  display: inline-block;
}
.side-widget .gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.side-widget .gallery a {
  width: 50%;
  padding-right: 3px;
}
.side-widget .gallery a:last-child {
  padding-left: 3px;
}
.side-widget p {
  width: 100%;
  display: block;
  color: #fff;
}
.side-widget .widget-title {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #3E3E40;
}
.side-widget .address {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.side-widget .address a {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
}
.side-widget .address a:hover {
  text-decoration: none;
}
.side-widget .social-media {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.side-widget .social-media li {
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}
.side-widget .social-media li a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.side-widget .social-media li a:hover {
  color: #f42828;
}
.side-widget .custom-menu {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.side-widget .custom-menu ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.side-widget .custom-menu ul li {
  display: inline-block;
  margin: 3px 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
}
.side-widget .custom-menu ul li ul {
  display: none;
  padding-left: 20px;
  margin-bottom: 10px;
}
.side-widget .custom-menu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.side-widget .custom-menu ul li a:hover {
  text-decoration: none;
  color: #f42828;
}
.side-widget .site-menu {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.side-widget .site-menu ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.side-widget .site-menu ul li {
  display: block;
  margin: 3px 0;
  padding: 0;
  list-style: none;
}
.side-widget .site-menu ul li ul {
  display: none;
  padding-left: 20px;
  margin-bottom: 10px;
}
.side-widget .site-menu ul li a {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
}
.side-widget .site-menu ul li a:hover {
  text-decoration: none;
  color: #f42828;
}
.side-widget small {
  font-size: 13px;
  width: 100%;
  display: block;
  margin-top: 20px;
  font-family: 'Barlow', sans-serif;
}
.side-widget.active {
  left: 0;
}

/* TOPBAR */
.topbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #0d0d0d;
  padding: 10px 0;
  color: #fff;
}
.topbar div {
  display: inline-block;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}
.topbar div b {
  font-weight: 500;
  display: inline-block;
  margin-right: 6px;
  opacity: 0.5;
}
.topbar div a {
  display: inline-block;
  color: #fff;
}
.b-left{
  border-right: 1px solid rgba(255, 255, 255, 0.3);

}

/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: absolute;
  background: black;
  left: 0;
  top: 0;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  z-index: 2;
}
.navbar .logo {
  margin-right: auto;
  padding: 30px 0;
  padding-right: 100px;
  /* border-right: 1px solid rgba(255, 255, 255, 0.3); */
}
.navbar .logo a {
  display: inline-block;
}
.navbar .logo a img {
  height: 50px;
}
.navbar .site-menu {
  margin: 0 auto;
}
.navbar .site-menu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.navbar .site-menu ul li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  list-style: none;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.navbar .site-menu ul li a {
  color: #fff;
  font-weight: 500;
}
.navbar .site-menu ul li a:hover {
  text-decoration: none;
}
.navbar .hamburger-menu {
  margin-left: auto;
}
.navbar .navbar-button {
  margin-left: 30px;
}
.navbar .navbar-button a {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  background: #f42828;
  color: #fff;
  padding: 0 50px;
  position: relative;
}
.navbar .navbar-button a:before {
  content: "";
  width: 0;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.navbar .navbar-button a:hover {
  text-decoration: none;
  color: #fff;
}
.navbar .navbar-button a:hover:before {
  width: 100%;
}

/* SLIDER */
.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}
.slider .main-slider {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.slider .main-slider .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15%;
  padding-top: 150px;
  background: #000;
}
.slider .main-slider .swiper-slide .slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  background-position: center !important;
  opacity: 0.7;
}
.slider .main-slider .swiper-slide .slide-image:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  background: -moz-linear-gradient(351deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: -webkit-linear-gradient(351deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: linear-gradient(351deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  opacity: 0.4;
}
.slider .main-slider .swiper-slide .container {
  color: #fff;
  position: relative;
  z-index: 1;
}
.slider .main-slider .swiper-slide .container h1 {
  width: 100%;
  display: block;
  font-size: 80px;
  margin-bottom: 10px;
}
.slider .main-slider .swiper-slide .container p {
  width: 100%;
  display: block;
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
}
.slider .main-slider .swiper-slide .container a {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding: 0 35px;
  background: transparent;
  /* border-color: white !important; */
  border: 1px solid white;
  color: #fff;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  position: relative;
}
.slider .main-slider .swiper-slide .container a:before {
  content: "";
  width: 0;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.slider .main-slider .swiper-slide .container a:hover {
  text-decoration: none;
  color: #fff;
}
.slider .main-slider .swiper-slide .container a:hover:before {
  width: 100%;
}
.slider .button-prev {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  left: 15%;
  border-radius: 70px;
  top: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  z-index: 3;
  font-size: 23px;
  cursor: pointer;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.slider .button-prev:hover {
  background: #f42828;
  border-color: transparent;
}
.slider .button-next {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  right: 15%;
  top: 50%;
  border-radius: 70px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  z-index: 3;
  font-size: 23px;
  cursor: pointer;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.slider .button-next:hover {
  background: #f42828;
  border-color: transparent;
}

/* PAGE HEADER */
.page-header {
  width: 100%;
  height: 700px;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-size: cover !important;
  padding-top: 100px;
}
.page-header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  background: -moz-linear-gradient(351deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: -webkit-linear-gradient(351deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  background: linear-gradient(351deg, rgba(0, 0, 0, 0.0018382353) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  opacity: 0.6;
}
.page-header .container {
  position: relative;
  z-index: 1;
  color: #fff;
}
.page-header .container h2 {
  width: 100%;
  display: block;
  font-size: 80px;
  margin-bottom: 0;
}
.page-header .container p {
  width: 100%;
  display: block;
  margin-bottom: 50px;
  font-size: 20px;
}

.skills {
  text-align: right;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  color: white;
}
.skills1 {
  text-align: right;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  color: #000;
}

.html {
  width: 100%;
  background-color: skyblue;
  height: 10px;
  border-radius: 20px;
}

/* CONTENT SECTION */
.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 130px 0;
  position: relative;
}
.content-section.left-white-spacing {
  position: relative;
}
.content-section.left-white-spacing .container {
  position: relative;
  z-index: 1;
}
.content-section.left-white-spacing:before {
  content: "";
  width: 30%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.content-section.bottom-dark-spacing {
  position: relative;
  padding-bottom: 0 !important;
}
.content-section.bottom-dark-spacing .container {
  position: relative;
  z-index: 1;
}
.content-section.bottom-dark-spacing:before {
  content: "";
  width: 30%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.content-section.bottom-dark-spacing:after {
  content: "";
  width: 100%;
  height: 140px;
  background: #0d0d0d;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* SECTION TITLE */
.section-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  text-align: center;
}
.section-title figure {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.section-title figure img {
  height: 40px;
}
.section-title h6 {
  width: 100%;
  display: block;
}
.section-title h2 {
  width: 100%;
  display: block;
  padding-top: 30px;
  margin-bottom: -25px;
  font-size: 41px;
  color: black;
}
.section-title p {
  width: 100%;
  display: block;
  margin-bottom: 0;
  opacity: 0.7;
}

/* IMAGE BOX */
.col-lg-4:nth-child(1) .image-box {
  padding-right: 30px;
}

.col-lg-4:nth-child(2) .image-box {
  margin-top: 60px;
}

.col-lg-4:nth-child(3) .image-box {
  padding-left: 30px;
}

.image-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.image-box figure {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.image-box figure img {
  width: 100%;
}
.image-box .time {
  display: inline-block;
  color: #f42828;
  margin-right: 6px;
  margin-top: 4px;
}
.image-box h6 {
  display: block;
  font-size: 32px;
}

/* SIDE CONTENT */
.side-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.side-content.left {
  padding-right: 20%;
}
.side-content.right {
  padding-left: 10%;
}
.side-content.light {
  color: #fff;
}
.side-content.light h2 {
  color: #fff;
}
.side-content h2 {
  width: 100%;
  display: block;
  font-size: 70px;
  font-weight: 500;
  color: #f42828;
}
.side-content h6 {
  width: 100%;
  display: block;
  font-weight: 800;
  font-size: 19px;
}
.side-content .custom-button {
  margin-top: 30px;
}
.side-content figure {
  width: 100%;
  display: block;
}
.side-content figure img {
  height: 100px;
}
.side-content form {
  width: 100%;
  display: flex;
  margin-top: 40px;
}
.side-content form input[type="text"] {
  border: none;
}
.side-content form button[type="submit"] {
  width: 70px;
  padding: 0;
  text-align: center;
  margin-left: -70px;
  background: none;
  color: #0d0d0d;
}

/* SIDE IMAGE */
.side-image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}
.side-image.full-left {
  width: 50vw;
  float: right;
}
.side-image.full-right {
  width: 50vw;
  float: left;
}
.side-image img {
  width: 100%;
}
.side-image .side-timetable {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: -50px;
  bottom: 50px;
  background: #0d0d0d;
  padding: 40px;
  margin: 0;
  z-index: 1;
}
.side-image .side-timetable li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.side-image .side-timetable li span {
  color: #fff;
}
.side-image .side-timetable li b {
  font-weight: 400;
  margin-left: auto;
  color: #f42828;
}

/* SIDE GALLERY */
.side-gallery {
  width: calc(50vw - 15px);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.side-gallery figure {
  width: calc(33.33333% - 10px);
  display: inline-block;
  margin: 5px 0;
  margin-left: 10px;
  background: #0d0d0d;
  position: relative;
}
.side-gallery figure:before {
  content: "";
  width: 4px;
  height: 50px;
  background: #fff;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 25px);
  z-index: 1;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0;
}
.side-gallery figure:after {
  content: "";
  width: 50px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 2px);
  z-index: 1;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  opacity: 0;
}
.side-gallery figure img {
  width: 100%;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.side-gallery figure:hover img {
  opacity: 0.3;
}
.side-gallery figure:hover:before {
  opacity: 1;
}
.side-gallery figure:hover:after {
  opacity: 1;
}

/* SIDE MEMBER */
.side-member {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.side-member img {
  width: 100%;
  display: block;
}
.side-member figcaption {
  width: 100%;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f42828;
  color: #fff;
  text-align: center;
}
.side-member figcaption h5 {
  width: 100%;
  display: block;
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 0;
}
.side-member figcaption span {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: auto;
}

/* PROGRESS BAR */
.custom-progress {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}
.custom-progress:last-child {
  margin-bottom: 0;
}
.custom-progress h6 {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.custom-progress span {
  margin-left: auto;
  font-size: 20px;
  color: #f42828;
}
.custom-progress .progress-bar {
  width: 100%;
  height: 5px;
  background: #eee;
  display: inline-block;
  margin-top: 10px;
  border-radius: 0;
  position: relative;
}
.custom-progress .progress-bar .progress {
  width: 0;
  height: 5px;
  background: #f42828;
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.custom-progress .progress-bar.animated .one {
  width: 80%;
}
.custom-progress .progress-bar.animated .two {
  width: 67%;
}
.custom-progress .progress-bar.animated .three {
  width: 92%;
}
.custom-progress .progress-bar.animated .four {
  width: 88%;
}

/* TAB WRAPPER */
.tab-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tab-wrapper .tab-nav {
  width: 25%;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  position: relative;
  z-index: 1;
}
.tab-wrapper .tab-nav li {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  list-style: none;
}
.tab-wrapper .tab-nav li.active a {
  width: calc(100% + 60px);
  margin-right: -60px;
  background: #f42828;
  color: #fff;
}
.tab-wrapper .tab-nav li.active a:hover {
  background: #f42828;
}
.tab-wrapper .tab-nav li a {
  width: 100%;
  display: block;
  background: #f4f4f4;
  padding: 25px;
  font-weight: 700;
}
.tab-wrapper .tab-nav li a:hover {
  background: #f0f0f0;
  text-decoration: none;
}
.tab-wrapper .tab-item {
  width: 75%;
  display: none;
}
.tab-wrapper .tab-item.active-item {
  display: flex;
}
.tab-wrapper .tab-item .tab-inner {
  width: 100%;
  display: flex;
  position: relative;
  background: #0d0d0d;
}
.tab-wrapper .tab-item .tab-inner ul {
  width: calc(350px - 100px);
  height: 40vw;
  overflow: auto;
  float: left;
  color: #fff;
  margin: 40px;
  margin-left: 60px;
  padding: 0;
}
.tab-wrapper .tab-item .tab-inner ul li {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.tab-wrapper .tab-item .tab-inner ul li span {
  width: 100%;
  display: block;
  color: #f42828;
}
.tab-wrapper .tab-item .tab-inner ul li h6 {
  width: 100%;
  display: block;
}
.tab-wrapper .tab-item .tab-inner ul li small {
  width: 100%;
  display: block;
  font-family: 'Barlow', sans-serif;
  opacity: 0.7;
}
.tab-wrapper .tab-item .tab-inner figure {
  width: 100%;
  float: left;
  margin: 0;
}
.tab-wrapper .tab-item .tab-inner figure img {
  width: 100%;
}

/* COUNTER BOX */
.counter-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.counter-box figure {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.counter-box figure img {
  height: 90px;
}
.counter-box .odometer {
  display: inline-block;
  line-height: 1;
  margin: 0 auto;
  font-size: 100px;
  font-weight: 500;
  -webkit-text-stroke: 1px #0d0d0d;
  text-stroke: 1px #0d0d0d;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.counter-box h6 {
  width: 100%;
  height: 26px;
  line-height: 26px;
  display: block;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 20px;
  color: #f42828;
  position: relative;
}
.counter-box h6:after {
  content: "";
  width: 100px;
  height: 4px;
  background: #f42828;
  position: absolute;
  left: calc(50% - 50px);
  bottom: -40px;
}

/* SERVICE BOX */
.service-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 15px 0;
  background: #0d0d0d;
}
.service-box:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #f42828;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.service-box:hover img {
  opacity: 0;
  transform: scale(1.1);
}
.service-box:hover figcaption p {
  margin-bottom: 30px;
  margin-top: 10px;
  opacity: 0.7;
}
.service-box:hover figcaption a {
  margin-bottom: 0;
  opacity: 1;
}
.service-box:hover:before {
  transform: scale(1.1);
}
.service-box * {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.service-box img {
  width: 100%;
  position: relative;
}
.service-box figcaption {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
}
.service-box figcaption h6 {
  width: 100%;
  display: block;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.service-box figcaption p {
  width: 100%;
  display: block;
  padding: 0 10%;
  margin-bottom: -100px;
  opacity: 0;
}
.service-box figcaption a {
  height: 70px;
  line-height: 68px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  margin-bottom: -100px;
  opacity: 0;
  padding: 0 50px;
}
.service-box figcaption a:hover {
  text-decoration: none;
  background: #fff;
  color: #f42828;
}

/* IMAGE OVERLAP BOX */
.image-overlap-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.image-overlap-box * {
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.image-overlap-box:hover figure img {
  opacity: 0.3;
  transform: scale(1.05);
}
.image-overlap-box:hover .content img {
  margin-top: 0;
  margin-bottom: -100px;
  opacity: 0.2;
  transform: scale(1.4);
}
.image-overlap-box:hover .content p {
  margin-bottom: 40px;
  opacity: 1;
}
.image-overlap-box:hover .content a {
  margin-bottom: 0;
  opacity: 1;
}
.image-overlap-box figure {
  width: 100%;
  display: block;
  margin: 0;
  background: #f42828;
}
.image-overlap-box figure img {
  width: 100%;
}
.image-overlap-box .content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.image-overlap-box .content img {
  height: 80px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 100px;
}
.image-overlap-box .content h6 {
  width: 100%;
  display: block;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.image-overlap-box .content p {
  width: 100%;
  display: block;
  padding: 0 10%;
  color: #fff;
  margin-bottom: 0;
  opacity: 0;
}
.image-overlap-box .content a {
  height: 70px;
  line-height: 68px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  margin-bottom: -100px;
  opacity: 0;
  padding: 0 50px;
}
.image-overlap-box .content a:hover {
  text-decoration: none;
  background: #fff;
  color: #f42828;
}

/* CUSTOM LIST */
.custom-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 20px;
}
.custom-list li {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}
.custom-list li:last-child {
  margin-bottom: 0;
}
.custom-list li:before {
  content: "\ea54";
  font-family: "LineIcons";
  color: #f42828;
  font-size: 16px;
  display: inline-block;
  margin-right: 12px;
}

/* VIDEO */
.video {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  background: #0d0d0d;
}
.video img {
  width: 100%;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.video:hover img {
  opacity: 0.8;
}
.video a {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  color: #f42828;
  font-size: 30px;
}
.video a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

/* CAROUSEL CLASSES */
.carousel-classes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
.carousel-classes .swiper-pagination {
  bottom: 0;
}

/* ALL CLASSES */
.all-classes {
  width: calc(100% + 30px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 100px;
  padding: 0;
}
.all-classes li {
  width: 33.33333%;
  margin: 0;
  margin-top: 50px;
  padding: 0 15px;
  list-style: none;
}
.all-classes li:nth-child(1), .all-classes li:nth-child(2), .all-classes li:nth-child(3) {
  margin-top: 0;
}
.all-classes li:nth-child(3n+2) {
  transform: translateY(100px);
}

/* CLASS BOX */
.class-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.class-box:hover figure img {
  opacity: 0.3;
  transform: scale(1.05);
}
.class-box figure {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #f42828;
  overflow: hidden;
}
.class-box figure img {
  width: 100%;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.class-box h6 {
  width: 100%;
  display: block;
  font-size: 42px;
  font-weight: 700;
  padding: 0 15%;
}
.class-box small {
  width: 100%;
  display: block;
  font-size: 16px;
  opacity: 0.7;
}

/* IMAGE */
.image {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.image.spacing {
  margin: 40px 0;
}
.image img {
  width: 100%;
}

/* TEXT BOX */
.text-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.text-box h3 {
  width: 100%;
  display: block;
  font-size: 36px;
  font-weight: 700;
}
.text-box h5 {
  width: 100%;
  display: block;
  color: #f42828;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 22px;
}
.text-box p {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

/* PASS BOX */
.col-lg-6:nth-child(1) .pass-box {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.pass-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  color: #fff;
}
.pass-box figure {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.pass-box figure img {
  height: 80px;
}
.pass-box h6 {
  width: 100%;
  display: block;
  font-size: 50px;
  font-weight: 800;
}
.pass-box p {
  width: 100%;
  display: block;
  padding: 0 20%;
  margin-bottom: 0;
}

/* RECENT NEWS */
.recent-news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.recent-news:hover figure img {
  opacity: 0.3;
  transform: scale(1.05);
}
.recent-news figure {
  width: 100%;
  display: block;
  margin: 0;
  background: #f42828;
  position: relative;
  overflow: hidden;
}
.recent-news figure img {
  width: 100%;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.recent-news .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}
.recent-news .content h3 {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 34px;
}
.recent-news .content h3 a {
  display: inline-block;
  color: #0d0d0d;
}
.recent-news .content h3 a:hover {
  color: #f42828;
  text-decoration: none;
}
.recent-news .content p {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  opacity: 0.7;
}
.recent-news .content small {
  width: 100%;
  display: block;
  font-size: 16px;
}
.recent-news .content small span {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #0d0d0d;
  margin: 0 15px;
  transform: translateY(-3px);
}

/* BLOG BOX */
.blog-box {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 100px;
}
.blog-box:last-child {
  margin-bottom: 0;
}
.blog-box:hover .content h3 a {
  background-size: 100% 100%;
}
.blog-box figure {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background: #f42828;
}
.blog-box figure img {
  width: 100%;
  max-width: inherit;
}
.blog-box .content {
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
}
.blog-box .content small {
  display: block;
  font-size: 15px;
  opacity: 0.6;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.blog-box .content h3 {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 56px;
  line-height: 1.1;
  font-weight: 800;
}
.blog-box .content h3 a {
  display: block;
  color: #0d0d0d;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.blog-box .content h3 a:hover {
  color: #f42828;
  text-decoration: none;
}
.blog-box .content .author {
  width: 100%;
  display: block;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
}
.blog-box .content .author img {
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
}
.blog-box .content .author b {
  font-weight: 500;
  opacity: 0.6;
}
.blog-box .content h6 {
  font-size: 24px;
  line-height: 1.7;
  margin: 30px 0;
}
.blog-box .content strong {
  font-weight: 600;
}
.blog-box .content figure {
  margin: 30px 0;
}
.blog-box .content blockquote {
  width: 100%;
  display: block;
  color: #f42828;
  font-size: 26px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 30px;
}
.blog-box .content blockquote:before {
  content: "“";
  font-size: 100px;
  height: 50px;
  line-height: 0.9;
  display: block;
}
.blog-box .content ul {
  padding-left: 20px;
}
.blog-box .content ul li {
  margin: 4px 0;
}
.blog-box .content .half-image {
  width: 50%;
  float: right;
  margin-left: 20px;
}
.blog-box .content .full-width {
  width: calc(100% + 100px);
  float: left;
  margin-left: -50px;
  margin-right: -50px;
}

/* SIDEBAR */
.sidebar {
  width: 100%;
  display: block;
  padding-left: 30px;
}
.sidebar .widget {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eee;
  padding: 40px;
  margin-bottom: 40px;
  position: relative;
}
.sidebar .widget * {
  position: relative;
}
.sidebar .widget .widget-title {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 22px;
  color: #0d0d0d;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.sidebar .widget .widget-title:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #f42828;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.sidebar .widget form {
  width: 100%;
  display: block;
  margin-top: 10px;
}
.sidebar .widget form input[type="submit"] {
  margin-top: 10px;
  background: #0d0d0d;
  color: #fff;
}
.sidebar .widget .categories {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.sidebar .widget .categories li {
  width: 100%;
  display: block;
  margin: 4px 0;
  padding: 0;
  list-style: none;
}
.sidebar .widget .categories li a {
  color: #0d0d0d;
  font-size: 19px;
}
.sidebar .widget .side-gallery {
  width: calc(100% + 4px);
  float: left;
  margin: 0 -2px;
  padding: 0;
}
.sidebar .widget .side-gallery li {
  width: 50%;
  float: left;
  margin: 0;
  padding: 2px;
  list-style: none;
}

/* BRANCH BOX */
.branch-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.branch-box h6 {
  width: 100%;
  display: block;
  font-weight: 800;
  font-size: 24px;
  color: #f42828;
}
.branch-box address {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.branch-box address b {
  width: 100%;
  display: block;
  margin-top: 5px;
  font-weight: 500;
}
.branch-box a {
  display: inline-block;
  text-decoration: underline;
}
.branch-box a:hover {
  text-decoration: none;
  color: #f42828;
}

/* MEMBER BOX */
.member-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.member-box:hover figcaption {
  bottom: 0;
  transform: translateY(0);
}
.member-box img {
  width: 100%;
  display: block;
}
.member-box figcaption {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: 120px;
  color: #fff;
  transform: translateY(100%);
  background: #f42828;
  text-align: center;
  padding: 30px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.member-box figcaption h6 {
  width: 100%;
  display: block;
  font-size: 34px;
  font-weight: 700;
}
.member-box figcaption small {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.member-box figcaption p {
  width: 100%;
  display: block;
  padding: 0 10%;
  opacity: 0.7;
}
.member-box figcaption ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.member-box figcaption ul li {
  display: inline-block;
  margin: 0 7px;
  padding: 0;
  list-style: none;
}
.member-box figcaption ul li a {
  color: #fff;
  float: left;
  font-size: 13px;
}

/* CTA BOX */
.cta-box {
  width: 100%;
  max-width: 600px;
  display: inline-block;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 50px;
  text-align: center;
}
.cta-box h2 {
  width: 100%;
  display: block;
  font-size: 50px;
  font-weight: 500;
}
.cta-box p {
  width: 100%;
}
.cta-box .custom-button {
  margin-top: 10px !important;
}

/* TESTIMONIALS */
.testimonial {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.testimonial blockquote {
  width: 100%;
  display: block;
  font-size: 32px;
  font-family: 'Barlow', sans-serif;
}
.testimonial p {
  width: 100%;
  display: block;
}
.testimonial i {
  display: inline-block;
  margin: 0 3px;
  color: #f42828;
}
.testimonial h6 {
  width: 100%;
  display: block;
  margin: 0;
}
.testimonial figure {
  width: 100%;
  display: block;
  margin: 0;
}
.testimonial figure img {
  height: 440px;
}

/* CONTACT BOX */
.contact-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}
.contact-box li {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  line-height: 1.2;
}
.contact-box li:last-child {
  margin-bottom: 0;
}
.contact-box li h6 {
  width: 100px;
  display: inline-block;
  color: skyblue;
  margin: 0;
}
.contact-box li span {
  display: inline-block;
}
.contact-box li a {
  display: inline-block;
  text-decoration: underline;
}

/* CONTACT FORM */
.contact-form {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.contact-form .form-group {
  width: 100%;
  display: block;
}
.contact-form .form-group:last-child {
  margin-bottom: 0;
}

/* GOOGLE MAPS */
.google-maps {
  width: 100%;
  display: block;
  position: relative;
}
.google-maps iframe {
  width: 100%;
  height: 500px;
  display: block;
  border: none;
  filter: grayscale(1);
  position: relative;
  z-index: 0;
}
.google-maps .timetable {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: #0d0d0d;
  padding: 40px;
  margin: 0;
  z-index: 1;
}
.google-maps .timetable li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.google-maps .timetable li span {
  color: #fff;
}
.google-maps .timetable li b {
  font-weight: 400;
  margin-left: auto;
  color: #f42828;
}

/* PAGINATION */
.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.pagination .page-item {
  display: inline-block;
}
.pagination .page-item .page-link {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  border-radius: 0 !important;
  font-weight: 500;
  color: #0d0d0d;
  outline: none !important;
}
.pagination .page-item .page-link:focus {
  outline: none !important;
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  background: #0d0d0d;
  position: relative;
  color: #fff;
}
.footer .logo {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.footer .logo img {
  width: auto;
  height: 50px;
}
.footer .footer-info {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-family: 'Barlow', sans-serif;
    
      padding-right: 70px;
}
.footer .footer-info a {
  color: #fff;
  text-decoration: underline;
  color: #f42828;
  font-size: 14px;
}
.footer .copyright {
  width: 100%;
  display: block;
  margin: 0;
  font-size: 14px;
}
.footer .footer-social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0;
}
.footer .footer-social li {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
  list-style: none;
}
.footer .footer-social li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
  font-size: 13px;
}
.footer .footer-social li a:hover {
  background: #f42828;
  border-color: transparent;
}
.footer .widget-title {
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.footer .footer-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.footer .footer-menu li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
.footer .footer-menu li:before {
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #f42828;
  border-radius: 50%;
  margin-right: 9px;
}
.footer .footer-menu li a {
  color: #fff;
}

/* RESPONSIVE MEDIUM  */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  .col-lg-4:nth-child(1) .image-box {
    padding-right: 0;
  }

  .col-lg-4:nth-child(3) .image-box {
    padding-left: 0;
  }

  .side-content h2 {
    font-size: 60px;
  }

  .side-content h2 br {
    display: none;
  }

  .counter-box {
    padding: 30px;
  }

  .side-content figure img {
    height: 70px;
  }

  .carousel-classes h6 {
    font-size: 38px;
  }

  .class-box h6 {
    font-size: 38px;
  }

  .sidebar {
    padding-left: 0;
  }

  .sidebar .widget {
    padding: 30px;
    margin-bottom: 30px;
  }

  .blog-box .content .full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .recent-news .content {
    padding: 30px;
  }

  .footer .footer-menu li a {
    font-size: 17px;
  }
}
/* RESPONSIVE TABLET  */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .side-widget .hide-mobile {
    display: none;
  }

  .side-widget .show-mobile {
    display: flex;
  }

  .side-widget .site-menu ul li {
    opacity: 1 !important;
  }

  .side-widget .site-menu ul li a {
    font-size: 22px;
  }

  .navbar .site-menu {
    display: none;
  }

  .slider .button-prev {
    display: none;
  }

  .slider .button-next {
    display: none;
  }

  .slider .main-slider .swiper-slide .container h1 {
    font-size: 60px;
  }

  .slider .main-slider .swiper-slide .container h1 br {
    display: none;
  }

  .col-lg-4:nth-child(2) .image-box {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .no-spacing .side-content {
    padding: 100px 0 !important;
  }

  .side-image.full-right {
    width: 100%;
  }

  .side-image.full-left {
    width: 100%;
  }

  .side-image .side-timetable {
    width: 100%;
    position: static;
  }

  .col-lg-4:nth-child(3) .counter-box {
    margin-top: 50px;
  }

  .carousel-classes h6 {
    font-size: 30px;
  }

  .content-section.bottom-dark-spacing:after {
    display: none;
  }

  .col-lg-6:nth-child(1) .pass-box {
    border-right: 0;
    margin-bottom: 50px;
  }

  .col-lg-4:nth-child(3) .recent-news {
    margin-top: 30px;
  }

  .side-gallery {
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-right: -5px;
  }

  .side-gallery figure {
    margin: 5px !important;
  }

  .col-lg-3:nth-child(1) .branch-box {
    margin-bottom: 50px;
  }

  .col-lg-3:nth-child(2) .branch-box {
    margin-bottom: 50px;
  }

  .col-lg-4:nth-child(4) .member-box {
    margin-top: 30px;
  }

  .tab-wrapper .tab-nav {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }

  .tab-wrapper .tab-nav li {
    width: auto;
    flex: 1;
    display: inline-block;
  }

  .tab-wrapper .tab-nav li.active a {
    width: 100%;
    margin-right: 0;
  }

  .tab-wrapper .tab-item {
    width: 100%;
  }

  .tab-wrapper .tab-item .tab-inner ul {
    height: 50vw;
  }

  .section-title h2 {
    font-size: 54px;
  }

  .section-title h2 br {
    display: none;
  }

  .side-content.left {
    padding-right: 0;
  }

  .all-classes {
    margin-bottom: 0;
  }

  .all-classes li {
    width: 50%;
  }

  .all-classes li:nth-child(3n+2) {
    transform: none;
  }

  .all-classes li:nth-child(3) {
    margin-top: 50px;
  }

  .sidebar {
    margin-top: 50px;
  }

  .sidebar .widget .side-gallery li {
    width: 33.33333%;
  }

  .contact-box {
    margin-bottom: 50px;
  }

  .footer .copyright {
    margin-top: 40px;
  }

  .footer .widget-title {
    margin-top: 50px;
  }
}
/* RESPONSIVE MOBILE */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .side-widget {
    max-width: 80vw;
  }
  .navbar .logo {
    margin-right: auto;
    padding: 30px 0;
    padding-right: 0px;
    /* border-right: 1px solid rgba(255, 255, 255, 0.3); */
}
.navbar .logo a img {
  height: 30px;
}

  .topbar div b {
    display: none;
  }

  .topbar div {
    font-size: 14px;
  }

  .navbar .navbar-button {
    display: none;
  }

  .slider .main-slider .swiper-slide {
    padding: 0;
    padding-top: 100px;
  }

  .slider .main-slider .swiper-slide .container h1 {
    font-size: 40px;
  }

  .section-title h2 {
    font-size: 42px;
  }

  .page-header .container {
    padding-top: 50px;
  }

  .page-header .container h2 {
    font-size: 50px;
  }

  .col-lg-4:nth-child(1) .image-box {
    margin-bottom: 50px;
  }

  .side-content h2 {
    font-size: 42px;
  }

  .side-image .side-timetable {
    padding: 30px;
  }

  .col-lg-4:nth-child(2) .counter-box {
    margin-top: 30px;
  }

  .side-member figcaption h5 {
    font-size: 40px;
  }

  .pass-box h6 {
    font-size: 38px;
  }

  .pass-box p {
    padding: 0;
  }

  .video a {
    transform: scale(0.7);
  }

  .video a:hover {
    transform: scale(0.8);
  }

  .pagination .page-item .page-link {
    padding: 0 30px;
  }

  .google-maps iframe {
    display: flex;
  }

  .google-maps .timetable {
    width: 100%;
    position: static;
    padding: 30px;
    margin-bottom: -100px;
  }

  .blog-box .content h3 {
    font-size: 44px;
  }

  .all-classes li:nth-child(2) {
    margin-top: 50px;
  }

  .all-classes li {
    width: 100%;
  }

  .class-box h6 {
    padding: 0;
    font-size: 32px;
  }

  .tab-wrapper .tab-nav {
    max-width: 100%;
    overflow-x: auto;
  }

  .tab-wrapper .tab-item .tab-inner {
    flex-wrap: wrap;
  }

  .tab-wrapper .tab-item .tab-inner ul {
    width: 100%;
    height: 300px;
    margin: 30px 0;
    padding: 30px;
  }

  .tab-wrapper .tab-item .tab-inner figure {
    width: 100%;
  }

  .cta-box {
    padding: 30px;
  }

  .cta-box h2 {
    font-size: 44px;
  }

  .cta-box .custom-button {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .testimonial figure img {
    height: auto;
  }

  .col-lg-4:nth-child(3) .member-box {
    margin-top: 30px;
  }

  .col-lg-4:nth-child(2) .recent-news {
    margin-top: 30px;
  }

  .side-gallery {
    margin-top: 100px;
  }

  .side-gallery figure {
    width: calc(50% - 10px);
  }

  .col-lg-3:nth-child(3) .branch-box {
    margin-bottom: 50px;
  }
}
